active_nav_link: :about
meta_description: About
META------------------------------------------------------------------------------------------------

.hero-unit
  .container
    %h1 About SimQuote

.container
  %h2 The SimQuote Story
  %p It all started with a snowstorm on Halloween.  The kind of storm that reeks havoc on many levels for the average homeowner.  But in the process of dealing with the aftermath we realized how chaotic and antiquated most contractors  processes were when it comes to quotes and payments.
  %p Being technology minded we knew an opportunity when we saw it!  The world was moving faster, everything was going from the internet to smart phone yet here was a large group of service providers very much operating like they did 30 years ago.
  %p We believe that people who work away from their desk have more to gain from the cloud than the average consumer and we believe that technology can simultaneously reduce administrative costs and improve the consumer experience.
  %hr/
  %p.lead Our mission is to make you a better business person by allowing you to focus on what you do best!
  %hr/
  .row
    .span5
      .well
        %p <strong>At its core</strong>, SimQuote is a simple yet powerful tool that fills the gap between your accounting package and a custom proposal writing package.  We’ve design it with 5 key elements in mind:
        %ul
          %li It must be streamlined and easy to use
          %li It must reduce the administrative workload
          %li It must travel to and do as much as possible at the jobsite
          %li It must improve the client’s experience
          %li It must make it easy to copy, share and store information
    .span7
      %h3 What's in a name & logo?
      %div{style: 'position:relative;height:400px'}
        %img{ src: '/images/about-the-logo.png', alt: '', width: 500, height: 400 }
        %p{style: 'width:140px;position:absolute;top:35px;right:88px;'}
          “On" button because we’re there whenever you need us
        %p{style: 'width:170px;position:absolute;top:43px;left:15px;'}
          SimQuote is an abbreviation for "Simple Quote System"
        %p{style: 'width:140px;position:absolute;top:260px;left:5px;'}
          Our service lives in the cloud, hence the name is “in the cloud”
        %p{style: 'width:140px;position:absolute;top:286px;left:182px;'}
          Blue – the sky is blue and otherwise you couldn’t see the cloud!
        %p{style: 'width:140px;position:absolute;top:240px;right:53px;'}
          Green – because, well... we like green!
