active_nav_link: :home
meta_description: SimQuote meta description
META------------------------------------------------------------------------------------------------

.hero-unit.ac
  .container
    %h1 Instant email quotes &amp; online payments!
    %img{ src: lorem.image('940x340'), alt: 'Big SimQuote image', width: 940, height: 340 }
.container
  .row
    .span8
      %h2
        Make the switch to online quotes, workflow, invoices and payments and reclaim your weekends!
    .span4
      %p.ac
        %a.btn.btn-huge.btn-success{ href: '#', title: 'Register for SimQuote', style: 'width:80%' }
          %strong
            Sign Up for Free
          %small
            100% FREE for up to 5 customers*
  %hr/
  .row
    .span6
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Create a quote anywhere, anytime
          %p
            Just select the customer, select the type of work, price it and you're done. Quotes are
            instantly emailed to the client.
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Attach specs, photos and more
          %p
            Electronic materials can be attached to any quote, giving customers all the information
            needed to make fast decisions.
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Get your next acceptance in writing
          %p
            Your customers will accept your quotes online, no need for follow up calls or exchanging
            paper for signatures.
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Track your changes or comments
          %p
            All changes to quotes are tracked and all customer comments or questions are logged with
            the quote.
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Backups and lost files are history
          %p
            Every quote, invoice and file is securely stored in the cloud so you'll never have to
            spend time looking for files or copies again.
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Stay in sync with Quickbooks
          %p
            We'll sync your customers and items with Quickbooks, plus we'll send your invoice and
            payment details so both systems stay in sync.
    .span6
      .well.well-large
        %img{ src: lorem.image('410x200'), alt: '', width: 410, height: 200 }
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Get paid at the work site
          %p
            Never spend your weekend creating invoices again. Go from work to funds in your account
            in as little as 48 hours.
      .row
        .span1
          %img{ src: lorem.image('50x50'), alt: '', width: 50, height: 50 }
        .span5
          %h3 Multiple users, multiple devices
          %p
            Access from your smartphone, iPad or laptop plus you can have multiple users all working
            at the same time.
  %hr/
  .row
    .span8
      %blockquote.big-quote
        %h2
          Quote from customer about the improvement in interaction, speed, accuracy and payments.
        %small
          John Doe,
          %a{:href => '#', :target => '_blank', :title => ''}
            Some Company
    .span4
      .well
        %ul.unstyled
          %li
            %h3
              %a{:href => '/tour', :title => ''} Take a tour
              &rarr;
          %li
            %h3
              %a{:href => '/pricing', :title => ''} Check out our pricing
              &rarr;
          %li
            %h3
              %a{:href => '', :title => ''} Sign up for free
              &rarr;