title: Pricing
active_nav_link: :pricing
META------------------------------------------------------------------------------------------------

.hero-unit
  .container.ac
    %h2 Try SimQuote for FREE for up to 5 Customers
    %h3 No upfront fees. Affordable pricing. No long term contract.

.container
  .well
    %ol.sequence
      %li.first
        %h3 Free Version
        %h2 $0<small>/month</small>
        %h6
          5 Customers
          %br/
          1 User
      %li
        %h3 Bronze Package
        %h2 $29<small>/month</small>
        %h6
          100 Customers
          %br/
          3 Users
      %li
        %h3 Silver Package
        %h2 $49<small>/month</small>
        %h6
          250 Customers
          %br/
          5 Users
      %li
        %h3 Gold Package
        %h2 $79<small>/month</small>
        %h6
          500 Customers
          %br/
          10 Users
      %li
        %h3 Platinum Package
        %h2 Contact Us
        %h6
          500+ Customers
          %br/
          10+ Users
    .row
      .span6
        .well.well-large.ac
          %p
            %a.btn.btn-huge.btn-success{href: '#', title: '#', :style => 'width:50%'}
              %strong
                Sign Up for Free &rarr;
              %small
                No credit card required
      .span5
        %h4 All Plans Include:
        %ul.pricing-includes
          %li Email support
          %li Secure (SSL) protection
          %li Unlimited document storage
          %li Export your data anytime
          %li Smartphone, tablet and internet access
          %li Quickbooks integration

  .row
    .span6
      %h4 Do I have to sign a long term contract?
      %p
        No. SimQuote is a pay-as-you-go system so you simply pay month-to-month.
        There are no long term contracts or commitments on your part.  If you cancel, you’ll be billed
        for the current month, but you won’t be billed again. You can also export all of your data
        to a Microsoft Excel spreadsheet at any time.

      %h4 Are there any upfront fees?
      %p
        No. There are no upfront fees at all to begin using SimQuote. You can sign up now and begin
        using it today without entering a credit card.

      %h4 What are my payment options?
      %p
        We accept Visa, MasterCard, Discover and AMEX through our online payment system. If you would
        like to prepay for 12 months you can pay with an invoice. Please contact us at
        <a href="mailto:info@simquote.com">info@simquote.com</a>.

    .span6
      %h4 Do you offer any discounts?
      %p
        You can prepay for 12 months and receive a 10% discount on your purchase. If you're a very large
        organization, we sometimes offer discounts on comprehensive bundles of products and services.
        We believe in giving back, so we have a special program for nonprofits and educational institutions.
        Please contact us at <a href="mailto:info@simquote.com">info@simquote.com</a>.

      %h4 What web browsers work with Fleetio?
      %p
        We support Internet Explorer 7 and higher, Firefox 3 and higher, Safari 4 and higher,
        Chrome 4 and higher.

      .well.ac
        %h3
          Questions?
          <a href="mailto:info@simquote.com">Contact us</a>
          or
          %a{:href => 'http://simquote.desk.com/', :title => ''}
            read the FAQ &rarr;