active_nav_link: :tour
meta_description: Tour
META------------------------------------------------------------------------------------------------

.hero-unit
  .container.ac
    %h1 Take the Tour
    %p
      %img{ src: '/images/tour-jumbotron.png', alt: '', width: 450, height: 200 }
    %h3.last Discover how SimQuote can reduce your administrative workload.

.container
  .row
    .span4
      %p
        %img{ src: lorem.image('300x150', text: 'Placeholder'), alt: '', width: 300, height: 150 }
    .span8
      %h3 Online Client Management
      %p Optimize your business and your time by managing your clients, invoices and payments from a single dashboard. You can use SimQuote to keep up with your clients from work, home or on the go with your internet enabled smartphone, ipad or laptop.  And your clients and employees all have access to the latest information on the status of their job and payments.
      %p Since SimQuote is a web-based service with NO software to install  your data is backed up and secure on our hosted servers.  We'll even take care of regular software updates so you can focus on your business.
  %hr/
  .row
    .span8
      %h3 Instant Quoting, Invoicing and Receipt of Payments
      %p No more chasing down payment and open quotes.  With SimQuote you will have the ability to create a quote while still at the client’s site   Once the quote is created you can immediately email, it along with any product brochures or links, to your client for approval.
      %p Clients will be able to communicate with you directly through the system and those communications are captured with in the quote.  No more looking for old client emails.  Invoices are sent immediately when work is completed and clients can make payments on the spot or over the internet .  No more monthly invoicing, waiting for checks and running to the bank.  You can now go from work to money in the bank in as little as 48 hours.
    .span4
      %p.ac
        %img{ src: lorem.image('220x200', text: 'Placeholder'), alt: '', width: 220, height: 200 }
  .alert.alert-success.ac{style: 'margin: 40px 0'}
    Simple yet powerful features that make sure you stay productive.
    %strong
      You'll love using SimQuote.
  .row
    .span6
      %p.ac
        %img{ src: lorem.image('300x150', text: 'Placeholder'), alt: '', width: 300, height: 150 }
      %h3 Stay In Sync with Quick Books
      %p No need to re-enter  all of your customer data again or abandon your Quickbooks. SimQuote is a complement to your Quickbooks package and we’ll sync all changes between the systems for customers, items, invoices and payments.  You’ll get the benefits of both systems without all the data entry.
    .span6
      %p.ac
        %img{ src: lorem.image('300x150', text: 'Placeholder'), alt: '', width: 300, height: 150 }
      %h3 Documentation Made Easy
      %p Tired of searching for those before and after pictures of your jobs or  the latest product brochures?  With SimQuote you will be able to associate job materials with each kind of work and store photos and other documents with each quote.  Choosing the documents to include is as easy as selecting a check box as you are creating your quote.
  %hr/
  .row
    .span8
      %h3 Multiple users
      %p SimQuote lets you work as a team to manage your clients. With clients and staff collaborating in SimQuote everyone will always be working with the latest information .  You’ll  reduce workloads, improve communication and enhance the customer experience with one easy step.
    .span4
      %p
        %img{ src: lorem.image('300x150', text: 'Placeholder'), alt: '', width: 300, height: 150 }
  %hr/
  .row
    .span4
      %p
        %img{ src: lorem.image('300x150', text: 'Placeholder'), alt: '', width: 300, height: 150 }
    .span8
      %h3 Customer Support
      %p Need help with your SimQuote account? We offer unlimited support  via phone, chat or email right from your main dashboard along with a comprehensive online Help Center, plus guides and tips within SimQuote.  Your success and productivity is of the utmost importance to us, and we'll do everything we can to keep you and your customers satisfied.
  %hr/
  .well.well-large.ac
    %h2
      See how easy your business is with SimQuote.
    %h3
      %a{href: '#', title: ''}
        Sign up and get started today for FREE
      &rarr;
