.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

body {
  padding-top: 68px;
}

.navbar-fixed-top .brand {
  padding-bottom: 8px;
}
.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #e8e8e8;
}
.navbar-fixed-top .nav {
  margin-top: 14px;
}
.navbar-fixed-top .nav > li {
  margin-left: 8px;
}
.navbar-fixed-top .nav > li > a {
  font-size: 14px;
  text-shadow: none;
}
.navbar-fixed-top .nav > li > a, .navbar-fixed-top .nav > li > a.btn.disabled {
  color: #555555;
  cursor: pointer;
}
.navbar-fixed-top .nav > li > a.btn {
  margin-top: 4px;
  padding: 5px 14px 6px;
}
.navbar-fixed-top .nav > li > a.btn.btn-primary {
  color: white;
}
.navbar-fixed-top .nav > li > a.btn:hover {
  background-position: 0 0;
}
.navbar-fixed-top .nav > li > a.btn.disabled {
  background-color: transparent;
  border: 1px solid #88b540;
}

.hero-unit {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #e8e8e8;
  padding: 36px 0;
}
.hero-unit h1, .hero-unit h2, .hero-unit h3 {
  color: #333333;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit h1 {
  font-size: 50px;
}
.hero-unit h2 {
  font-size: 32px;
}
.hero-unit h3 {
  font-size: 24px;
  color: #999999;
  margin-top: 18px;
}
#home .hero-unit h1 {
  font-size: 40px;
  margin-bottom: 18px;
}

footer {
  background: #222222;
  color: #999999;
  margin-top: 18px;
  padding-top: 18px;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #999999;
}
footer a, footer a:hover {
  color: white;
}
footer #footer-floor {
  background: black;
  padding-top: 9px;
}
footer #footer-floor h3, footer #footer-floor h4 {
  color: white;
}

.btn small {
  display: block;
  margin-top: 3px;
  text-align: center;
}

.btn-primary small, .btn-primary:hover small, .btn-warning small, .btn-warning:hover small, .btn-danger small, .btn-danger:hover small, .btn-success small, .btn-success:hover small, .btn-info small, .btn-info:hover small, .btn-inverse small, .btn-inverse:hover small {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.btn-huge {
  padding: 15px 18px 15px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.big-quote {
  background: transparent url("../images/big-quote.png") no-repeat left top;
  border-left: none;
  padding-left: 90px;
}

ol.sequence {
  background-color: white;
  border: 1px solid #e8e8e8;
  list-style: none;
  margin-left: 0;
  margin-bottom: 18px;
  *zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
ol.sequence:before, ol.sequence:after {
  display: table;
  content: "";
}
ol.sequence:after {
  clear: both;
}
ol.sequence li {
  border-left: 1px solid #e8e8e8;
  float: left;
  padding: 10px;
  text-align: center;
  width: 158px;
  overflow: visible;
  position: relative;
}
ol.sequence li.first {
  border-left: none;
}
