// Grays
// -------------------------

$black: #000 ! default;
$grayDarker: #222 ! default;
$grayDark: #333 ! default;
$gray: #555 ! default;
$grayLight: #999 ! default;
$grayLighter: #E8E8E8 ! default;
$grayLightest: #F2F2F2 ! default;
$white: #fff ! default;

// Accent colors
// ----------------------------

$blue: #04AFE5 ! default;
$blueDark: #0B80C5 ! default;
$green: #88B540 ! default;
$greenLight: #B8D338 ! default;
$red: #9d261d ! default;
$yellow: #ffc40d ! default;
$orange: #f89406 ! default;
$pink: #c3325f ! default;
$purple: #7a43b6 ! default;

// Links
// -------------------------

$linkColor: #0B80C5 ! default;
$linkColorHover: #04AFE5 ! default;

// Buttons
// -------------------------

$btnPrimaryBackground: $blue ! default;
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 15%) ! default;

$btnSuccessBackground: #99CC48 ! default;
$btnSuccessBackgroundHighlight: #88B540 ! default;

// Navbar
// -------------------------

$navbarHeight: 68px ! default;
$navbarBackground: $white ! default;
$navbarBackgroundHighlight: $grayLightest ! default;
$navbarLinkColor: $gray ! default;
$navbarLinkColorHover: $green ! default;
$navbarLinkColorActive: $navbarLinkColorHover ! default;

// Hero unit
// -------------------------

$heroUnitBackground: $grayLightest ! default;
$heroUnitHeadingColor: inherit ! default;
$heroUnitLeadColor: inherit ! default;

// Alerts
// -------------------------

$successText: #60802D ! default;
$successBackground: #D7EAB8 ! default;

// Sprite icons path
// -------------------------

$iconSpritePath: url('../images/glyphicons-halflings.png');
$iconWhiteSpritePath: url('../images/glyphicons-halflings-white.png');

// Imports
// -------------------------

@import "bootstrap";

// Floating & Alignment
// -------------------------

.fl { float: left; }
.fr { float: right; }
.ac { text-align: center; }
.ar { text-align: right; }

// Scaffolding + Components
// -------------------------

body {
  padding-top: $navbarHeight
}

.navbar-fixed-top {

  .brand {
    padding-bottom: 8px;
  }

  .navbar-inner {
    @include box-shadow(none);
    border-bottom: 2px solid $grayLighter;
  }

  .nav {
    margin-top: 14px;

    > li {
      margin-left: 8px;

      > a {
        font-size: 14px;
        text-shadow: none;
      }

      > a, > a.btn.disabled {
        color: $navbarLinkColor;
        cursor: pointer;
      }

      > a.btn {
        margin-top: 4px;
        padding: 5px 14px 6px;

        &.btn-primary {
          color: $white;
        }

        // Fixes weird hover issue for buttons in the navbar
        &:hover {
          background-position: 0 0;
        }
      }

      > a.btn.disabled {
        background-color: transparent;
        border: 1px solid $green;
      }
    }
  }
}

.hero-unit {
  @include border-radius(0px);
  border-bottom: 1px solid $grayLighter;
  padding: ($baseLineHeight * 2) 0;

  h1, h2, h3 {
    color: $grayDark;
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: -1px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
    color: $grayLight;
    margin-top: $baseLineHeight;
  }

  #home & {
    h1 {
      font-size: 40px;
      margin-bottom: $baseLineHeight;
    }
  }
}

footer {
  background: $grayDarker;
  color: $grayLight;
  margin-top: $baseLineHeight;
  padding-top: $baseLineHeight;

  h1, h2, h3, h4, h5, h6 {
    color: $grayLight;
  }

  a, a:hover {
    color: $white;
  }

  #footer-floor {
    background: $black;
    padding-top: $baseLineHeight / 2;

    h3, h4 {
      color: $white;
    }
  }
}

.btn {
  small {
    display: block;
    margin-top: 3px;
    text-align: center;
  }
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  small {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    color: $white;
  }
}

.btn-huge {
  padding: 15px 18px 15px;
  font-size: $baseFontSize + 5px;
  line-height: normal;
  @include border-radius(6px);
}

.big-quote {
  background: transparent url('../images/big-quote.png') no-repeat left top;
  border-left: none;
  padding-left: 90px;
}

ol.sequence {
  background-color: $white;
  border: 1px solid $grayLighter;
  list-style: none;
  margin-left: 0;
  margin-bottom: $baseLineHeight;
  @include clearfix();
  @include border-radius(4px);

  li {
    border-left: 1px solid $grayLighter;
    float: left;
    padding: 10px;
    text-align: center;
    width: 158px;
    overflow: visible;
    position: relative;

    &.first {
      border-left: none;
    }
  }
}